<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chocho.MCA_Restaurant"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mca_table"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mca_table"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCA_Restaurant"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.chocho.MCA_Restaurant.TestWebView"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubDrinkItemActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubStakeItemActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubAppetizerItemActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubPizzaItemActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubPastaItemActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubPastaActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubPizzaActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubAppetizerActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubStakeActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.SubDrinkActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chocho.MCA_Restaurant.PaymentListActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp"/>
            </intent-filter>



        </activity>



        <activity
            android:name="com.chocho.MCA_Restaurant.MainActivity"
            android:exported="true"

            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>